<div>

  <h1> Experiencia </h1>

  <p>
    Semillas - Asociación Civil Ecomania
    Capital Federal - Argentina
    Marzo 2021 - Actual 2022 -
    Capacitadora:
    Prestación de servicios técnicos de difusión, asesoramiento, encuestas socio-económicas,
    capacitación, acompañamiento y dictar talleres a los emprendedores reubicados. Proyecto
    de apoyo a las actividades reasentadas en los barrios: Rodrigo Bueno, Chacarita y Barrio 31.
  </p>
  <p> Instituto Nacional de Estadìsticas y Censos de la Repùblica Argentina
    INDEC -
    Asistente de Fracción - Mayo 2022.
    Asistir al Jefe de Fracción, en las actividades relacionadas al correcto
    funcionamiento de los procesos.
  </p>
  <p>
    Banco de Desarrollo de la Mujer, C. A.
    Caracas - Venezuela
    Analista Financiera
    Realizar la gestión operativa, administrativa y financiera, en el proceso de entrega, aprobación
    y liquidaciòn de créditos, tareas de cobranzas, seguimientos de las
    solicitudes de créditos, informes, relaciones institucionales.
  </p>
  <p>
    Banco Caroni, C. A.
    Coordinadora de la Gerencia de Créditos:
    Supervisión de la cartera de créditos,
    supervisión del proceso operativo, administrativo y financiero.
  </p>


</div>
